<a href="https://colab.research.google.com/github/GOVINDFROMINDIA/Titanic-Survival/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn import datasets, metrics
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [42]:
df=pd.read_csv('/content/tested.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [29]:
df.dropna(inplace=True)
df.drop(['PassengerId','Name','Sex','Ticket','Cabin','Embarked'],axis=1, inplace=True)

xVars=df.drop(['Survived'],axis=1)
yVars=df[['Survived']]

xTrain,xValid,yTrain,yValid= train_test_split(xVars,yVars,test_size=0.25, random_state=50 )

In [30]:
print("X-Vars : \n",xVars)
print("Y-Vars : \n",yVars)
print("df : \n",df)

X-Vars :
      Pclass   Age  SibSp  Parch      Fare
12        1  23.0      1      0   82.2667
14        1  47.0      1      0   61.1750
24        1  48.0      1      3  262.3750
26        1  22.0      0      1   61.9792
28        1  41.0      0      0   30.5000
..      ...   ...    ...    ...       ...
404       1  43.0      1      0   27.7208
405       2  20.0      0      0   13.8625
407       1  50.0      1      1  211.5000
411       1  37.0      1      0   90.0000
414       1  39.0      0      0  108.9000

[87 rows x 5 columns]
Y-Vars :
      Survived
12          1
14          1
24          1
26          1
28          0
..        ...
404         0
405         0
407         0
411         1
414         1

[87 rows x 1 columns]
df :
      Survived  Pclass   Age  SibSp  Parch      Fare
12          1       1  23.0      1      0   82.2667
14          1       1  47.0      1      0   61.1750
24          1       1  48.0      1      3  262.3750
26          1       1  22.0      0      1   61.9792
28          0       1  41.0      0      0   30.5000
..        ...     ...   ...    ...    ...       ...
404         0       1  43.0      1      0   27.7208
405         0       2  20.0      0      0   13.8625
407         0       1  50.0      1      1  211.5000
411         1       1  37.0      1      0   90.0000
414         1       1  39.0      0      0  108.9000

[87 rows x 6 columns]

In [31]:
regressor =RandomForestRegressor(n_estimators=250,random_state=50 )
regressor.fit(xTrain,yTrain)

<ipython-input-31-02c0daae7941>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(xTrain,yTrain)

RandomForestRegressor(n_estimators=250, random_state=50)

![count4](https://github.com/GOVINDFROMINDIA/Credit-Card-Validation/assets/79012314/9b17a988-c063-467d-a055-3e869b3176c3)

In [32]:
y_pred = regressor.predict(xValid)
y_pred

array([0.85233333, 0.85933333, 0.76      , 0.83633333, 0.664     ,
       0.428     , 0.284     , 0.472     , 0.822     , 0.514     ,
       0.85666667, 0.452     , 0.708     , 0.462     , 0.646     ,
       0.424     , 0.296     , 0.76333333, 0.076     , 0.684     ,
       0.128     , 0.72133333])

In [44]:
name =input("Enter the name")
if name.lower()=="jack":
  print("Passenger Jack will Die")
if name.lower()=="rose":
  print("Passenger Rose will survive")
else:
  new_user_data = {}
  print("Enter data of the new user to predict\n")
  user_data = pd.DataFrame(columns=[column for column in xVars.columns])

  for column in user_data.columns:
    value = int(input(f"Enter value for {column} : "))
    new_user_data[column] = value

  # Use the loc method to add the new row to the DataFrame
  user_data.loc[len(user_data)] = new_user_data
    
  print("\nUser_data : \n\n",user_data)
  user_pred = regressor.predict(user_data)
  print("\nThe survival status for ",name ,"is : ",user_pred[user_pred.argmax()]*100, "%")

Enter the namelilly
Enter data of the new user to predict

Enter value for Pclass : 1
Enter value for Age : 23
Enter value for SibSp : 0
Enter value for Parch : 1
Enter value for Fare : 1000

User_data :

    Pclass  Age  SibSp  Parch  Fare
0       1   23      0      1  1000

The survival status for  lilly is :  81.6 %